<h2 class="text-center">出品履歴
  </h2>

    <% @user.products.each do |product| %>
<div class="col-md-12">
  <div class="col-md-offset-2 col-md-4"> 

    <div class="slider slider-for">
      <div class ="product_image"><%= image_tag attachment_url(product, :thumbnail, :fill, 290, 290) %></div>
      <% product.product_images.each do |image| %>
      <div> 
        <%= attachment_image_tag image, :image, :fill, 290, 290 %>
      </div>
      <% end %>
    </div>

    <div class="slider slider-nav">
        <div class ="product_image"><%= image_tag attachment_url(product, :thumbnail, :fill, 70, 70) %></div>
      <% product.product_images.each do |image| %>
      <div> 
        <%= attachment_image_tag image, :image, :fill, 70, 70 %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-5"> 
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row">商品名
          </th>
          <td><%= product.name %>
          </td>
        </tr>
        <tr>
          <th scope="row">ブランド
          </th>
          <td><%= product.brand %>
          </td>
        </tr>
        <tr>
          <th scope="row">商品の詳細
          </th>
          <td><%= product.detail %>
          </td>
        </tr>
        <tr>
          <th scope="row">商品の状態
          </th>
          <td><%= product.status_i18n %>
          </td>
        </tr>
        <tr>
          <th scope="row">送料
          </th>
          <td><%= product.burden_of_shipping_fee_i18n %>
          </td>
        </tr>
        <tr>
          <th scope="row">配送方法
          </th>
          <td><%= product.shipping_method_i18n %>
          </td>
        </tr>
        <tr>
          <th scope="row">配送元地域
          </th>
          <td><%= product.region.name %>
          </td>
        </tr>
        <tr>
          <th scope="row">発送日の目安
          </th>
          <td><%= product.estimated_shipping_date_i18n %>
          </td>
        </tr>
        <tr>
          <th scope="row">カテゴリー 
          </th>
          <td><%= product.productable.category.name %>/
              <%= product.productable.name %>
          </td>
        </tr>
        <tr>
          <th scope="row">値段
          </th>
          <td>￥<%= product.price %>(税込)
          </td>
        </tr>
        <tr>
          <th scope="row">販売中
          </th>
          <td><%= product.sell_flg %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
    <% end %>





<h2 class="text-center">購入履歴
  </h2>

<% @user.orders.each do |order|%>
<div class="col-md-12">

  <div class="col-md-offset-2 col-md-4"> 
    <div class="slider slider-for">
      <div class ="product_image"><%= image_tag attachment_url(order.product, :thumbnail, :fill, 290, 290) %>
      </div>
      <% @order.product.product_images.each do |image| %>
      <div> 
        <%= attachment_image_tag image, :image, :fill, 290, 290 %>
      </div>
      <% end %>
    </div>

    <div class="slider slider-nav">
      <div class ="product_image"><%= image_tag attachment_url(order.product, :thumbnail, :fill, 70, 70) %>
      </div>
      <% @order.product.product_images.each do |image| %>
      <div> 
      <%= attachment_image_tag image, :image, :fill, 70, 70 %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-5"> 
    <table class="table table-bordered">
      <tbody>
        <tr>
        <th scope="row">送料
        </th>
        <td><%= order.product.burden_of_shipping_fee_i18n %>
        </td>
        </tr>
        <br>
        <tr>
          <th scope="row">商品名

          <%#= order.product.brand %>
          
          <%#= order.product.detail %>
          
          <%#= order.product.status_i18n %>
          
          <%#= order.product.burden_of_shipping_fee_i18n %>
          
          <%#= order.product.shipping_method_i18n %>
          

          </th>
        </tr>



        <%= order.product.region.name %>
        <%= order.product.estimated_shipping_date %>
        <%= order.product.name %>
        <%= order.product.price %>

        <td><%= order.product.productable.category.name %>/
            <%= order.product.productable.name %>
        </td>


        <%= order.first_name%>
        <%= order.last_name%>様
        〒<%= order.postal_code%>
        <%= order.region.name%>
        <%= order.address_city%>
        <%= order.address_street%>
        <%= order.address_building%>

        <br>



      </tbody>
    </table>
  </div>
</div>

      <% end %>

<%= link_to "もどる", products_path  %>

<script type="text/javascript">
  $(function(){
     $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      dots: true,
      centerMode: true,
      focusOnSelect: true
    });
  });
</script>