<nav class="header_nav navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand"><%= link_to "もどる", products_path, id: "logo" %>
  </a>
  
    <div class="col-sm-8 col-sm-offset-2 input-group">
      <%= form_tag(products_path, method: "get") do  %>

          <div class="input-group">
            <%= text_field_tag :search , params[:search],class: "form-control", placeholder:"キーワードから探す"%>

            <span class="input-group-btn">
                <%= button_tag class:'btn' do %>
                  <%= content_tag :span, "", class: "glyphicon glyphicon-search" %>
                <% end %>
             </span>
           </div>
       <% end %>
    </div> 

     <div class="col-sm-5 col-sm-offset-7">
      <% if user_signed_in? %>
      <h3 class="login_nick_name">こんにちは、<%= current_user.nick_name %>さん
      </h3>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <%= link_to 'プロフィール変更', edit_user_registration_path %>
          <%= link_to 'マイページ', user_path(current_user) %>

    </div>
      <% else %>


          <%= link_to "ログイン", new_user_session_path %>
          <%= link_to "新規登録", new_user_registration_path %> 


      <% end %>

</nav>