<h3 class="text-center">取引画面(確認用)</h3>

        <div class="col-md-offset-2 col-md-4">
          <% if @product.sell_flg == false %>
            <div class="sold_out_back_show">
              <div class="sold_out">SOLD                
              </div>
            </div>
          <% end %>

          <div class="slider slider-for"> 
            <p>
              <%= attachment_image_tag @product, :thumbnail, :fill, 290, 290, format: 'jpeg' %>
            </p>

            <% @product.product_images.each do |image| %>
            <div> 
            <%= attachment_image_tag image, :image, :fill, 290, 290 %>
            </div>
            <% end %>
          </div>

          <div class="slider slider-nav">
            <p>
              <%= attachment_image_tag @product, :thumbnail, :fill, 70, 70, format: 'jpeg' %>
            </p>
          <% @product.product_images.each do |image| %>
          <div> 
          <%= attachment_image_tag image, :image, :fill, 70, 70 %>
          </div>
          <% end %>
          </div>
        </div>

        <div class="col-md-6">
            <h4><%= @product.name %>
            </h4>

            <h3>支払い方法
            </h3>	
            <%= form_for @order, url: product_orders_path do |f| %>
              <div class="field">
                <p><%= f.select :method_of_payment, [["クレジットカード払い", "credit_card"], ["コンビニ払い", "convenience"]] ,class:"form-control" %>
                </p>
              </div>

             <h3>お届け先
             </h3>
              <div class="field">
                <%= f.label :〒 %>
                <%= f.text_field :postal_code,value: current_user.postal_code, autofocus: true, autocomplete: "postal_code", :placeholder => "例）123-4567" %>
              </div>
              <div class="field">
                <%= f.label :都道府県 %>
                <%= f.collection_select :region_id, Region.all, :id, :name %>
              </div>
              <div class="field">
                <%= f.label :市区町村 %>
                <%= f.text_field :address_city,value: current_user.address_city, autofocus: true, autocomplete: "address_city", :placeholder => "例）横浜市緑区" %>
              </div>
              <div class="field">
                <%= f.label :番地 %>
                <%= f.text_field :address_street, value: current_user.address_street, autofocus: true, autocomplete: "address_street", :placeholder => "例）青山1-1-1" %>
              </div>
              <div class="field">
                <%= f.label :建物名 %>
                <%= f.text_field :address_building, value: current_user.address_building, autofocus: true, autocomplete: "address_building", :placeholder => "例）柳ビル103" %>
              </div>
              <div class="row">
                <div class="field">
                  <%= f.label :宛名 %>
                  <%= f.text_field :first_name, value: current_user.first_name, autofocus: true, autocomplete: "first_name", :placeholder => "例）山田" %><%= f.text_field :last_name, value: current_user.last_name,autofocus: true, autocomplete: "last_name", :placeholder => "太郎" %>様
                </div>
              </div>
            <br>
        </div>

        <div class="col-md-offset-2 col-md-9 col-md-offset-1">
          <div class="text-center price_font">
            ￥<%= number_to_currency(@product.price) %>(税込)
              <span class="shipping_fee">
                  <%= @product.burden_of_shipping_fee_i18n %>
              </span>
          </div>
          <!-- <div class="col-md-offset-2 col-md-8 col-md-offset-2">  -->
            <div class= "row">
            <div class="order_btn container">
            <%= f.submit "出品者へ送信する" ,class:"form_btn_box btn-lg btn-block" %>
            </div>
            </div>
          <!-- </div>   -->
        </div>

            <% end %>

<script type="text/javascript">
  $(function(){
     $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      dots: true,
      centerMode: true,
      focusOnSelect: true
    });
  });
</script>
