<h2 class="text-center">出品した商品一覧
  </h2>
<div class="container">
<br>
  <% @user.products.each do |product| %>

<li><%= product.brand %> </li>
<br>
<li><%= product.detail %> </li>
<li><%= product.status %> </li>
<li><%= product.burden_of_shipping_fee %> </li>
<li><%= product.shipping_method %> </li>
<li><%= product.name %> </li>
<li>¥<%= product.price %> </li>
<li><%= product.sell_flg %> </li>

<!-- <h2>商品画像</h2> -->
  <div><%#= f.attachment_field :thumbnail, :fill, 290, 290, format: 'jpeg' %>

    <p>

        <td><%= image_tag attachment_url(product, :thumbnail, :fill, 300, 300) %></td>

  <%= image_tag attachment_url(@user, :thumbnail, :fill, 100, 100) %>

       <%= attachment_image_tag thumbnail, :thumbnail, :fill, 200, 200 %>

              <%= attachment_image_tag product.thumbnail_id, :thumbnail_id, :fill, 200, 200, format: 'jpg' %>
              </p>
  </div>

<%#= image_tag attachment_url(@user, :thumbnail, :fill, 300, 300, format: "jpg") %>
              <%#= attachment_image_tag f, :item_image, :fill, 200, 200, format: 'jpg' %>
              </p>

	<p><%#= f.thumbnail %></p>
	<p><%#= image_tag f.thumbnail %></p>

 <p><%#= f.attachment_field :thumbnails, multiple: true %></p>




	<% end %>

<h2 class="text-center">購入した商品一覧
  </h2>


</div>		


<br>
<%= link_to "もどる", products_path  %>