<% if user_signed_in? %>
    Logged in as <%= current_user.email %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <%= link_to 'プロフィール変更', edit_user_registration_path %>
<% else %>
    <%= link_to "新規登録", new_user_registration_path %> |
    <%= link_to "ログイン", new_user_session_path %>
<% end %>


<h2><%= link_to '出品する',new_product_path ,class:'header-menu' %> </h2>
<h1>商品一覧</h1>

<% @products.each do |product| %>
<td><%= attachment_image_tag product, :thumbnail, :fill, 220, 220, format: 'jpeg' %></td>
<br>

<!-- 商品名 -->
<span><%=link_to product.name, product_path(product.id) %></span>
<br>
<span>¥<%=link_to product.price, product_path(product.id) %>(税込)</span>
<br>
<% end %>

<br>
<br>

