<div class="container" >
    <!-- 任意のID指定。クラスとデータ属性の指定。 -->
  <div id="carousel-example" class="carousel slide" data-ride="carousel">
    <!-- インジケーターの設置。下部の○●ボタン。 -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example" data-slide-to="1"></li>
      <li data-target="#carousel-example" data-slide-to="2"></li>
      <li data-target="#carousel-example" data-slide-to="3"></li>
    </ol>
    <!-- スライドの内容 -->
    <div class="carousel-inner">
      <div class="item active">
    			<%= image_tag '/images/smile.jpg' %>
    		<div class="carousel-caption">
    			<h1>スマホでかんたん</h1>
    			<p>誰でも簡単に、売ったり買ったりを楽しめる</p>
    		</div>
      </div>
      <div class="item">
  		<%= image_tag '/images/mens.jpg' %>
    		<div class="carousel-caption">
    			<h1>簡単に出品できる</h1>
    			<p>スマホで写真を撮って特徴を入力するだけで、簡単に出品できます。</p>
    		</div>
      </div>
      <div class="item">
  		<%= image_tag '/images/hand_made.jpg' %>
    		<div class="carousel-caption">
    			<h1>すぐに購入できる</h1>
    			<p>ボタン1つで即購入。あとは出品者からの発送を待つだけです。</p>
    		</div>
      </div>
      <div class="item">
  		<%= image_tag '/images/ladies.jpg' %>
    		<div class="carousel-caption">
    			<h1>商品がたくさん</h1>
    			<p>毎日数十万品以上の新商品が出品されるので、ほしいものがきっと見つかります。</p>
    		</div>
      </div>
    </div>
    <!-- 左右の移動ボタン -->
    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
  </div>
</div>


<!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-2">
         <div class="list-group">

<div> 
<%= form_tag(root_path, method: "get") do %>

<%= label_tag :name, "キーワード" %>
<%= text_field_tag :name, params[:name] %>

<%= label_tag :brand, "ブランド名" %>
<%= text_field_tag :brand, params[:brand] %>

<%= label_tag :status, "商品の状態" %>
<%= select_tag :status, options_for_select([["新品、未使用", "new_product"], ["未使用に近い", "unused"], ["目立った傷や汚れなし", "no_noticeable_scratch_or_dirt"], ["やや傷や汚れあり", "slightly_scratched_or_dirty"], ["傷や汚れあり", "scratches_and_dirt"], ["全体的に状態が悪い", "bad"]]), include_blank: true %>

<%= label_tag :burden_of_shipping_fee, "配送料の負担" %>
<%= select_tag :burden_of_shipping_fee, options_for_select([["送料込み(出品者負担)", "postage_included"], ["着払い（購入者負担）", "freight_collect"]]), include_blank: true %>

<%= label_tag :sell_flg, "販売状況" %>
<%= select_tag :sell_flg, options_for_select([["すべて",""], ["販売中", "t"], ["売り切れ", "f"]], :sell_flg) %>
<br>
<%= submit_tag "検索" %>
<% end %>
</div>
<!--           <div class="list-group"> -->
            <a href="#" class="list-group-item">レディース
            </a>

            <% @ladies_categories.each do | ladies_category| %>
              <p><%= link_to ladies_category.name, root_path(ladies_category_id: ladies_category.id) %></p>
            <% end %>

            <a href="#" class="list-group-item">メンズ</a>

            <% @mens_categories.each do |mens_category| %>
              <p><%= link_to mens_category.name,root_path(mens_category_id: mens_category.id) %></p>
            <% end %>

            <a href="#" class="list-group-item">ハンドメイド</a>

            <% @handmade_categories.each do |handmade_category|%>
            <p><%= link_to handmade_category.name,root_path(handmade_category_id:handmade_category.id) %></p>
            <% end %>
          </div>
        </div>
        <!-- /.col-md-2 -->
        <div class="col-md-10">
          <!-- </div> -->
          <div class="row">
      			<% @products.each do |product| %>
      				<div class="col-md-4 item">
                  <%= link_to product_path(product.id) do %>
                <p>
                  <% if product.sell_flg == false %>
                    <div class="sold_out_back">
                      <div class="sold_out">SOLD                
                      </div>
                    </div>
                      <td><%= attachment_image_tag product, :thumbnail, :fill, 220, 220, format: 'jpeg'  %>
                      </td>
                  <% else %>
                    <div class="">
                      <div class="">    
                      </div>
                    </div>
                      <td><%= attachment_image_tag product, :thumbnail, :fill, 220, 220, format: 'jpeg' %>
                      </td>
                  <% end %>
                </p>
        					<!-- 商品名 -->
        					<span><%=link_to product.name, product_path(product.id) %>     
                  </span>
        					<br>
                  <div class="text-center ">
                  ￥<%=link_to number_to_currency(product.price), product_path(product.id) %>(税込)
                  </div>
      				</div>
                  <% end %>
      			<% end %>
            <%= paginate @products %>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.col-md-10 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->