	
	<h3>ブランド：<%= @product.brand %></h3>
	<h3>商品の詳細：<%= @product.detail %></h3>	

	<h3>商品の状態：<%= @product.status_i18n %></h3>
	<h3>配送料の負担：<%= @product.burden_of_shipping_fee_i18n %></h3>
	
	<h3>配送方法：<%= @product.shipping_method_i18n %></h3>
	
	<h3>配送元地域：<%= @product.region.name %></h3>

	<h3>発送日の目安：<%= @product.estimated_shipping_date_i18n %></h3>

	<h3>￥<%= @product.price %>(税込)</h3>

<p>
  <%= attachment_image_tag @product, :thumbnail, :fill, 300, 300, format: 'jpeg' %>
</p>


<% if @product.product_images.present? %>
  <% @product.product_images.each do |image| %>
    <%= attachment_image_tag image, :image, :fill, 300, 300 %>
  <% end %>
  <% else %>
    <p>画像がありません</p>
<% end %>

<br>


	<h3>カテゴリー：<%= @product.productable.category.name %></h3>

	<h3><%= @product.productable.name %></h3>

<%= link_to "編集", edit_product_path(@product.id) %>

<%= link_to "削除", product_path(@product.id), method: :delete, class: "btn destroy-btn", "data-confirm" => "本当に削除しますか？" %>

<%= link_to "一覧へもどる", products_path %>
