<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- /jQueryを読み込む -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- /スクリプトを読み込む -->
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
  </head>

  <body>
    <%= render 'shared/header' %>
    <main class="clearfix">
    <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
